<div class="container">
    <div class="row">
      <div class="col">
        <div>

          <a [routerLink]="['/actualiza', indice]" title="Click para actualizar empleado">
              {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} </a> - {{empleadoDeLista.cargo}} -  {{empleadoDeLista.salario}}
          

        </div>
  
        <app-caracteristicas-empleado-c (caracteristicasEmpleado)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
  
        <ul style="list-style: none;">

            <div>

                <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
                
            </div>
        </ul>
  
      </div>
    </div>
  </div>
